.intro-container{
    color: #212121;
    margin: 4rem 20rem;
}

.intro{
    width: 60%;
    text-align: left;
    line-height: 1.5;
    font-size: 1.2rem;
}

hr{
    margin-top: 5rem;
}

@media  screen and (max-width:  850px) {
    .intro-container{
        margin: 4rem 2rem;
    }
}

